:root {
    --dark-primary-color: #1c1427;
    --dark-secondary-color: #40394a;
    --light-primary-color: #7eca9c;
    --light-secondary-color: #ccffbd;
}

* {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

main {
    min-height: 100vh;
}

svg {
    height: 1.4em;
}

i.main-icon{
    padding: 0.2em;
    font-size: 1.5em;
    transition: all 0.2s;
}

i.main-icon:hover {
    transform: scale(1.1);
    color: var(--light-primary-color);
}


.underline-text {
    text-decoration: underline;
    text-decoration-color: var(--light-primary-color);
    text-shadow: 2px 1px 0px var(--light-primary-color);
}

.thumbnail-img {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    border: 2px solid var(--light-primary-color); 
    filter: saturate(110%);
}

.main-text, .main-button, .main-icon {
    animation: main-content-animation 1s ease-in;
}

@keyframes main-content-animation{
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    } 
}

.btn-dark {
    background-color: var(--dark-secondary-color);
    transition: all 0.2s;
}

.btn-dark:hover{
    background-color: var(--light-primary-color);
    transform: scale(1.05);
}

.btn-dark-secondary {
    background-color: black;
    transition: all 0.2s;
    color: white;
}

.btn-dark-secondary:hover {
    background-color: var(--light-primary-color);
    transform: scale(1.05);
    border: 1px solid var(--dark-primary-color);
}


.btn-dark-secondary:hover i{
    color: black;
    background-color: var(--light-primary-color);
}

.logo {
    text-shadow: 2px 1px 0px var(--light-primary-color);
}

.nav-link {
    color: white !important;
}
.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

i.about-icon, svg.about-icon {
    opacity: 0;
    padding: 0.2em;
    font-size: 1.5em;
    animation: about-icons-animation 2s ease infinite;
    animation-delay: calc(var(--order) * 100ms);
}


@keyframes about-icons-animation {
    0% {
        opacity: 0;
        transform: translateX(500%);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
}
#about-1 {
    border-right: 1px solid white;
}

#about-1 p, #about-2 p {
    text-align: justify;
}

.card-list {
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    height: 0.2em;
}
.card-list::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}


.project-card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 500px;
    width: 400px;
    min-width: 350px;
    padding: 1.5rem;
    border-radius: 16px;
    background-color: var(--light-primary-color) ;
    box-shadow: -1rem 0 2rem var(--dark-primary-color);
    transition: 0.2s;
}

.project-card-header, .project-card-header p, .project-card-header h2,
.tags, .tags a{
    color: black;
    background-color: var(--light-primary-color);
}

.project-card:hover {
    transform: translateY(-1rem);
}

.project-card:hover~.project-card {
    transform: translateX(110px);
}

.project-card:not(:first-child) {
    margin-left: -130px;
}

.project-card-header {
    margin-bottom: auto;
}

.modal-body img {
    object-fit: cover;

}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags i {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid black;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
    background-color: var(--light-primary-color);
    color: black;
}



@media (max-width: 576px) { 
    #about-1 {
        border-right: none;
        border-bottom: 1px solid white;
    }

    #about-1 p, #about-2 p {
        text-align: start;
    }
 }
