:root {
  --dark-primary-color: #1c1427;
  --dark-secondary-color: #40394a;
  --light-primary-color: #7eca9c;
  --light-secondary-color: #ccffbd;
}

* {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.scroll-container {
  display: flex;
  flex-direction: column;
}

.frame {
  height: 90vh;
}

svg {
  height: 1.4em;
}

i.main-icon {
  padding: 0.2em;
  font-size: 1.5em;
  transition: all 0.2s;
}

i.main-icon:hover {
  transform: scale(1.1);
  color: var(--light-primary-color);
}

.underline-text {
  text-decoration: underline;
  text-decoration-color: var(--light-primary-color);
  text-shadow: 2px 1px 0px var(--light-primary-color);
}

.thumbnail-img {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  border: 2px solid var(--light-primary-color);
  filter: saturate(110%);
}

.main-fade-in-text {
  animation: main-content-animation 1s ease-in;
}

@keyframes main-content-animation {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-dark {
  background-color: var(--dark-secondary-color);
  transition: all 0.2s;
}

.btn-dark:hover {
  background-color: var(--light-primary-color);
  transform: scale(1.05);
}

.btn-dark-secondary {
  background-color: black;
  transition: all 0.2s;
  color: white;
}

.btn-dark-secondary:hover {
  background-color: var(--light-primary-color);
  transform: scale(1.05);
  border: 1px solid var(--dark-primary-color);
}

.btn-dark-secondary:hover i {
  color: black;
  background-color: var(--light-primary-color);
}

.logo {
  text-shadow: 2px 1px 0px var(--light-primary-color);
}

.nav-link {
  color: white !important;
}
.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

i.about-icon,
svg.about-icon {
  opacity: 0;
  padding: 0.2em;
  font-size: 1.5em;
  animation: about-icons-animation 2s ease infinite;
  animation-delay: calc(var(--order) * 100ms);
}

@keyframes about-icons-animation {
  0% {
    opacity: 0;
    transform: translateX(500%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
}
#about-1 {
  border-right: 1px solid white;
}

#about-1 p,
#about-2 p {
  text-align: justify;
}

.card-list {
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  height: 0.2em;
}
.card-list::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.project-card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 500px;
  width: 400px;
  min-width: 350px;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: var(--light-primary-color);
  box-shadow: -1rem 0 2rem var(--dark-primary-color);
  transition: 0.2s;
  overflow-y: scroll;
}

.project-card::-webkit-scrollbar {
  width: 0.4em;
}
.project-card::-webkit-scrollbar-thumb {
  background: "transparent";
}

.project-card-header,
.project-card-header p,
.project-card-header h2,
.tags,
.tags a {
  color: black;
  background-color: var(--light-primary-color);
}

.project-card:hover {
  transform: translateY(-1rem);
}

.project-card:hover ~ .project-card {
  transform: translateX(110px);
}

.project-card:not(:first-child) {
  margin-left: -130px;
}

.project-card-header {
  margin-bottom: auto;
}

.modal-body img {
  object-fit: cover;
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags i {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid black;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
  background-color: var(--light-primary-color);
  color: black;
  margin: 0 0.2rem;
}

#about,
#projects,
#experience {
  scroll-margin-block-start: 8rem;
}

@media (max-width: 576px) {
  #about-1 {
    border-right: none;
    border-bottom: 1px solid white;
  }

  #about-1 p,
  #about-2 p {
    text-align: start;
  }
}

@media only screen and (max-width: 600px) {
  .frame {
    height: 100%;
  }
}

/* The actual timeline (the vertical ruler) */
.main-timeline-5 {
  position: relative;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-5::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: auto;
  margin-left: -3px;
}

/* Container around content */
.timeline-5 {
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.timeline-5::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  right: 1px;
  background-color: white;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right-5 {
  padding: 0px 0px 20px 40px;
  left: auto;
}

/* Add arrows to the right container (pointing left) */
.right-5::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid var(--light-primary-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--light-primary-color) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-5::after {
  left: -10px;
}

@media (max-width: 991px) {
  .main-timeline-5 {
    max-width: 100%;
  }
}

.experience-body {
  border-radius: 16px;
  background-color: var(--light-primary-color);
  box-shadow: -1rem 0 2rem var(--dark-primary-color);
}

.experience-body * {
  color: black;
  background-color: var(--light-primary-color);
}

.timeline-icon {
  background-color: var(--light-primary-color);
  color: var(--dark-primary-color);
}

a.certificate-item {
  background-color: var(--light-primary-color);
  box-shadow: -1rem 0 2rem var(--dark-primary-color);
  color: black;
  border-radius: 16px;
  text-decoration: none;
}
